body, button, input, h1 {
  font-family: 'Arial', sans-serif;
}

.MapContainer {
  position: absolute;
  height: '100vh'; 
  width: '100%';
  bottom: 0%;
}

.selected-marker-info {
  position: absolute;
  top: 0%;
  z-index: 900;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  transition: height 0.1s ease-in-out; /* Добавляем анимацию изменения высоты */
}


.button {
  background-color: #000000; /* Черный цвет кнопок */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.3);
  font-weight: bold; /* Жирное начертание текста */
}

.button_control {
  z-index: 1000;
  background-color: #ffffff; /* Черный цвет кнопок */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;

  border-radius: 25px;

  font-weight: bold; /* Жирное начертание текста */
}

.visible_control
{
  background-color: #000000; /* Черный цвет кнопок */
  border: none;
  color: white;
  padding: 2px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  border-radius: 25px;

  z-index: 1000;
}

.button:hover {
  background-color: #333333; /* Светло-черный при наведении */
}

.panorama_canvas {
  width: '100%'; 
  height: '50vh';
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  background-size: cover;
  position: relative;
}

.link-button {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  color: black;
  font-weight: bold; /* Жирное начертание текста */
  background-color: white; /* Черный цвет кнопок */
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.3);
}

.centered-container {
  position: relative;
  top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
  width: 100%; /* Ширина контейнера */
}

.input-tags {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: 70vh; /* Адаптивная ширина */
}

@media (max-width: 768px) {
  .button_media, .input-tags {
    width: 90%; /* Увеличиваем ширину на малых экранах */
    padding: 12px; /* Немного увеличиваем паддинг для удобства */
  }

  .centered-container {
    padding: 20px; /* Добавляем паддинг для внутреннего контейнера */
  }
}

.leaflet-control-attribution {
  display: none;
}

.marker-info {
  display: flex;
  
  align-items: flex-start;
  
  width: 100%; /* Полная ширина для контейнера кнопок */

  z-index: 1000;
}


.button-container {
  display: flex;
  justify-content: space-evenly; /* Распределяет пространство между кнопками */
  width: 100%; /* Полная ширина для контейнера кнопок */
  margin-top: 20px; /* Отступ сверху */
}

.overlay-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Убедитесь, что контент находится поверх видео */
}


.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #00000080; /* Легкий серый фон для видимости */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Убедитесь, что меню всегда наверху */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Небольшая тень для лучшей видимости */
}

.logo {
  font-size: 24px; /* Больший размер для логотипа */
  font-weight: bold; /* Жирный шрифт для логотипа */

}

.profile-link {
  font-size: 20px; /* Размер шрифта для ссылки профиля */
  color: #ffffff; /* Синий цвет ссылок */
  text-decoration: none; /* Убрать подчеркивание у ссылок */
}

/* Добавьте это в ваш файл стилей, например styles.css */

/* Добавьте это в ваш файл стилей, например styles.css */

.mini_pano {
  width: 55vw;
  height: 55vh;
  overflow-y: auto; /* Добавляем вертикальную полосу прокрутки */
  border: 1px solid #ccc; /* Добавляем границу для визуального выделения */
  padding: 10px; /* Добавляем отступы для удобства */
  box-sizing: border-box; /* Учитываем padding и border в общей ширине и высоте */
  border-radius: 5px;
  margin: 5px;
}

.mini_log {
  width: 55vw;
  height: 15vh;
  overflow-y: auto; /* Добавляем вертикальную полосу прокрутки */
  border: 1px solid #ccc; /* Добавляем границу для визуального выделения */
  padding: 10px; /* Добавляем отступы для удобства */
  box-sizing: border-box; /* Учитываем padding и border в общей ширине и высоте */
  border-radius: 5px;
  margin: 5px;
}

.mini_log {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.mini_log ul {
  list-style-type: none;
  padding: 0;
}

.mini_log li {
  margin-bottom: 5px;
  color: #333;
}

.thumbnail {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.thumbnail-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.thumbnail-name {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}



/* styles.css или в вашем компоненте в <style> тег */
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.login {
  margin: 200px auto;
  width: 300px;

}
.login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
  
}

.app-title {
  text-align: center;
  color: #777;
}

.login-form {
  text-align: center;
}
.control-group {
  margin-bottom: 10px;
}

input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}

input:focus {
  border: 2px solid #000000;
  box-shadow: none;
}

.buttonlogin {
  width: 250px;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}


.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #FFF; /* Белый фон для контраста с другими элементами */
}

.profile-title {
  color: #333; /* Темно-серый цвет текста */
  margin-bottom: 20px; /* Отступ ниже заголовка */
}


.logo-menu {
  display: flex;
  margin: 0px 15px;
}

.button_nav {
  margin: 0px 5px;
  border-radius:0%;
}

.profile_nav {
  display: flex;
  margin: 0px 15px;
}

