/* Другие стили */

@import './base.css';
@import './header.css';
@import './home.css';
@import './login.css';
@import './map.css';
@import './profile.css';
@import './upload.css';
@import './styles.css';



.overlay-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .marker-info {
    display: flex;
    align-items: flex-start;
    width: 100%;
    z-index: 1000;
  }
  
  .button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }
  
  .link-button {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }
  
